<ion-header>
  <ion-navbar>
    <ion-title>
      <h1>Add POP Gift Order </h1>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  
  <div class=" edit">
    <ion-list class="dflex1">
      <ion-item class="mb0">
        <ion-label floating><span>Your Points</span></ion-label>
        <ion-input type="tel" name="db_gift_points" [(ngModel)]="db_gift_points" readonly></ion-input>
      </ion-item>
      
      <ion-item class="ml8 mb0">
        <ion-label floating><span>Remaining Points</span></ion-label>
        <ion-input type="tel" name="db_remaining_points" [(ngModel)]="db_remaining_points" readonly></ion-input>
      </ion-item>
    </ion-list>
  </div>
  
  <div class="edit mt16">
    <ion-list>
      <ion-item class="cs-selectable mb0" >
        <ion-label><span>POP Gift List </span></ion-label>
        <select-searchable #popGift item-content [(ngModel)]="data.popGift" [items]="popList" itemValueField="gift_name" itemTextField="gift_name" name="gift_name" value="gift_name"[canSearch]="true" [hasVirtualScroll]="true" (onChange)="selected_Gift_Data();data.pop_gift_qty = '';data.selected_gift_total_points = ''">
          <!-- [canSearch]="true" [hasVirtualScroll]="true" (onChange)="test()" (onSearch)="masterSearchFUnction($event,'category')"> -->
        </select-searchable>
      </ion-item>
    </ion-list>
  </div>
  
  
  <div class=" edit" *ngIf="data.popGift">
    <ion-list class="dflex1">
      
      <ion-item class="mr8 mb0">
        <ion-label floating><span>Gift Points</span></ion-label>
        <ion-input type="text" name="gift_points" [(ngModel)]="data.gift_points" readonly></ion-input>
      </ion-item>
      
      <ion-item class="mr8 mb0 input-bg">
        <ion-label floating><span>Gift QTY</span></ion-label>
        <ion-input type="tel" name="pop_gift_qty" [(ngModel)]="data.pop_gift_qty" (keypress)="MobileNumber1($event)" (ngModelChange)="data.selected_gift_total_points = data.pop_gift_qty * conInt(data.gift_points) "></ion-input>
      </ion-item>
      
      <ion-item class="mb0">
        <ion-label floating><span>Total Points</span></ion-label>
        <ion-input type="text" name="selected_gift_total_points" [(ngModel)]="data.selected_gift_total_points" readonly></ion-input>
      </ion-item>
      
    </ion-list>
  </div>
  
  <div class="pd-left-right16">
    <button *ngIf="data.pop_gift_qty" class="cs-button border-btn mt20" (click)="qty_validation() ? addToCart() : ''">ADD TO LIST</button>
  </div>
  
  <div class="pd-left-right16" *ngIf="gift_cart.length>0">
    
    <div class="cs-heading1 pl0"> 
      <p>GIFT CART INFORMATION</p>
    </div>
    
    
    <div class="product-cart" *ngFor="let row of gift_cart;let i=index;">
      <div class="product-item">
        <div *ngFor="let data of popList">
          <div class="img-block" *ngIf="row.selected_gift_id == data.id">
            <img  src="{{data.image}}">
          </div>
        </div>
        <div class="text-block">
          <h2>{{row.selected_gift_name}}</h2>
          <table>
            <tr>
              <td>Gift Points</td>
              <td>{{row.gift_points}} </td>
            </tr>
            <tr>
              <td>Selected Qty</td>
              <td>{{row.pop_gift_qty}} {{row.u_o_m?row.u_o_m:''}}</td>
            </tr>
            <tr>
              <th>Total Points</th>
              <th>{{row.selected_gift_total_points}}</th>
            </tr>
          </table>
        </div>
      </div>
      <div class="cart-footer mt10">
        <button ion-button block color="danger" small outline (click)="delete_from_cart(i)">Remove From Cart</button>
      </div>
    </div>
    
    
    <div class="time_show amount-listing">
      <p>Order Total Item</p>
      <p>{{order_total_item}}</p>
    </div>
    <div  class="time_show amount-listing">
      <p>Order Total Points</p>
      <p>{{order_total_points}}</p>
    </div>
    
    <div class="add-new p0 pt16">
      <h4 >PICTURE OF BRANDING</h4>
      <div class="uplode-image" >
        <ul>
          <span *ngIf="this.image_data.length != 0">
          <li *ngFor="let pic of image_data;let i = index;">
            <img src="{{pic}}">
            <button><i class="material-icons" (click)="remove_image(i)">clear</i></button>
          </li>
          </span>
          <li (click)="captureMedia()">
            <label>
              <input type="file" style="display: none;">
              <div class="other">
                <a ><i class="material-icons" >camera_alt</i></a>
              </div>
            </label>
          </li>
        </ul>
      </div>
    </div>
    
    
  </div>
  <div class="pd-left-right16"  *ngIf="gift_cart.length>0">
    <div class="align-btn">
      <button class="cs-button" (click)="confirm_order()">SUBMIT</button>
    </div>
    
  </div>
  
  
  
  
</ion-content>