
<ion-header>
  <ion-navbar>
    <ion-title>Site Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <div >
    <ion-segment [(ngModel)]="details">
      
      <ion-segment-button value="basic">
        <span class="black capitalize">Basic Details</span>
      </ion-segment-button>
      
      <ion-segment-button value="order">
        <span class="black capitalize">Purchase Order</span>
      </ion-segment-button>
      
      <ion-segment-button value="visit">
        <span class="black capitalize">Site Visit</span>
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="details">
    
    
    <ng-container *ngSwitchCase="'basic'">
      <div class="cs-list flat ">
        <div class="top-block">
          <p>Date Created : {{getData.date_created |  date:'d MMMM y'}}</p>
        </div>
        <div class="middle-block">
          <div class="three-block pb0">
            <p>Created By : <strong>{{getData.created_name | titlecase}}</strong></p>
          </div>
      
          <div class="three-block" *ngIf="getData.pc_name">
            <p>PC Details: <strong>{{getData.pc_name | titlecase}} - {{getData.pc_contact}}</strong></p>
          </div>

          <div class="three-block" *ngIf=" getData.engineer_name ">
            <p>Engineer Detail: <strong>{{getData.engineer_name | titlecase}} - {{getData.engineer_mobile}}</strong></p>
          </div>

              
          <div class="three-block">
            <p>Dealer Details : <strong>{{getData.dealer_name | titlecase}} - {{getData.dealer_mobile}}</strong></p>
          </div>

          <div class="three-block pb0">
            <p>Owner Detail  : <strong>{{getData.site_owner_name}} - {{getData.site_owner_contact}}</strong></p>
          </div>
         
          <div class="three-block pb0">
            <p>Address : <strong>{{getData.address}}</strong></p>
          </div>
          <div class="three-block pb0">
            <p>Landmark : <strong>{{getData.landmark}}</strong></p>
          </div>
          
      


          <div class="three-block">
            <p>State : <strong>{{getData.state}}</strong></p>
            <p>District : <strong>{{getData.district}}</strong> </p>
          </div>
          <div class="three-block">
            <p>City : <strong>{{getData.city}}</strong></p>
            <p>Sale Zone  : <strong>{{getData.sales_zone}}</strong> </p>
          </div>
          <div class="three-block">
            <p>Project Size (Cons. Area) Sq. Ft : <strong>{{getData.project_size}}</strong></p>
          </div>
          <div class="three-block">
            <p>Construction Type  : <strong>{{getData.construction_type}}</strong> </p>
            
            <p>Construction Stage : <strong>{{getData.stage}}</strong></p>
          </div>
          <div class="three-block">
            <p>Site Type : <strong>{{getData.site_type}}</strong> </p>
            <p>Brand Being Used : <strong>{{getData.brand}}</strong></p>
          </div>
          <div class="three-block">
            <p>Site Potential(Bags)  : <strong>{{getData.site_potential}}</strong> </p>
          </div>
        </div>
        
      </div>
      
      <div class="item-table pt0" >
        <ng-container *ngIf="user.length">
          <h2>Executive Detail</h2>
          <table>
            <tr>
              <th>Name</th>
              <th class="w80">Code</th>
            </tr>
            <tr *ngFor="let row of user">
              <td>{{row.assignee_name}}</td>
              <td>{{row.assignee_code}}</td>
            </tr>
            <tr>
            </table>
          </ng-container>
          
          
          <!-- <ng-container *ngIf="selImages.length">
            <h2 class="mt16">Site Images </h2>
            <div class="uploade-image">
              <ul>
                <li *ngFor="let row of selImages; let i=index" (click)="viewProfiePic(row.id, row.image_name, 'normal', row.site_image_address,  row.date_created)">
                  <img src="{{uploadUrl+row.image_name}}">
                  
                  <span class="date_time">{{row.site_image_address}} <br> {{row.date_created |  date:'d MMMM y, h:mm a'}}</span>
                </li>
              </ul>
            </div>
          </ng-container> -->
        </div>
        
        <!-- <div class="two-btns"  *ngIf="(userType == '1' ||  userType == '3') || userType == '4'">
          <button ion-button  (click)="addPurchase()" round>{{'Add Purchase' | translate}} </button>
          <button ion-button  (click)="editDetail()" outline round> {{'Edit Site' | translate}}</button>
        </div> -->


        
        <!-- <div class="pl16 pb16 pr16 pt16" *ngIf="userType == 3">
          <button ion-button  (click)="checkin()" style="text-transform: capitalize;" full round>{{'Checkin' | translate}} </button>
        </div> -->
      </ng-container>
      
      <!-- <ng-container *ngSwitchCase="'order'">
        <div class="padding16">
          <div class="cs-list" *ngFor="let row of data; let i = index;" (click)="purchaseDetail(row.id)">
            <div class="top-block">
              <p><a class="link">#Pur{{row.id}}</a> &nbsp; {{row.date_created |  date:'d MMMM y'}}</p>
              <ion-icon name="arrow-forward"   ios="ios-arrow-forward"></ion-icon> 
            </div>
            <div class="middle-block">
              <div class="three-block pb0">
                <p>{{'Created By' | translate}} : <strong>{{row.created_name | titlecase}}</strong></p>
              </div>
              <div class="three-block pb0">
                <p>{{'Site Address' | translate}} : <strong>{{row.site_address}}, {{row.district}}, {{row.state}}</strong></p>
              </div>
              <div class="three-block">
                <p>{{'Owner Name' | translate}} : <strong>{{row.site_owner_name}}</strong></p>
              </div>
              <div class="three-block">
                <p>{{'Mobile Number' | translate}} : <strong>{{row.site_owner_contact}}</strong> </p>
              </div>
              <div class="three-block">
                <p>{{'Product' | translate}} : <strong>{{row.product_name}}</strong></p>
                <p>{{'QTY.' | translate}} : <strong>{{row.qty}}</strong> </p>
              </div>
              
              <div class="three-block">
                <p>{{'Status' | translate}} : <strong class="{{row.dealer_status}}">{{row.dealer_status}}</strong></p>
                <p *ngIf="row.verify_at == 'SalesTeam'">{{'Status' | translate}} : <strong class="{{row.company_status}}">{{row.company_status}}</strong> </p>
              </div>
            </div>

            <div class="top-block footer-block" *ngIf="(row.user_type != userType && row.dealer_status == 'Pending')">
              <ng-container >
                <p>{{'Pending At' | translate}}. : <strong>{{row.verify_pending_name}}</strong></p>
              </ng-container>
            </div>
            
            <div class="top-block footer-block" *ngIf="(row.user_type == userType && row.dealer_status == 'Pending')">
              <ng-container >
      
              <button class="capitalize" (click)="openmodal(row.id, row.dealer_status)" ion-button round full>{{'Change Status' | translate}}</button>
              </ng-container>
            </div>
            <div class="top-block footer-block" *ngIf="userType == '2' && row.dealer_points > 0">
              <p>{{'Earned Points' | translate}}: {{row.dealer_points}}</p>
            </div>
            <div class="top-block footer-block" *ngIf="userType == '1' && row.karigar_points > 0 ">
              <p>{{'Earned Points' | translate}}: {{row.karigar_points}}</p>
            </div>
            <div class="top-block footer-block">
              <p>{{'Address' | translate}}: {{row.address}}</p>
            </div>
          </div>
          
          <div class="image-detail"  *ngIf="data.length == 0">
            <img src="assets/imgs/no_found.svg">
          </div>
        </div>
        
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
          <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
    
    <ng-container *ngSwitchCase="'visit'">
      <div class="padding16">
        <div class="cs-list" *ngFor="let row of siteData; let i = index;" (click)="goToDetail(row.id)">
          <div class="top-block">
            <p>{{row.visit_date_created |  date:'d MMMM y'}}</p>
            <ion-icon name="arrow-forward"   ios="ios-arrow-forward"></ion-icon>
          </div>
          <div class="middle-block">
            <div class="three-block">
              <p>{{'Created By' | translate}} : <strong>{{row.created_name | titlecase}}</strong></p>
            </div>
            <div class="three-block">
              <p>{{'Owner Detail' | translate}} : <strong>{{row.site_owner_name |titlecase}} - {{row.site_owner_contact}}</strong></p>
            </div>
            <div class="three-block">
              <p>{{'Visited Person' | translate}} : <strong>{{row.site_created_name |titlecase}}</strong></p>
            </div>
            <div class="three-block">
              <p>{{'Visited Date & Time' | translate}} : <strong>{{row.visit_date_created | date:'d MMMM y, h:mm a'}}</strong></p>
            </div>
            <div class="three-block">
              <p>{{'State' | translate}} : <strong>{{row.state}}</strong></p>
              <p>{{'District' | translate}} : <strong>{{row.district}}</strong> </p>
            </div>
            <div class="three-block">
              <p>{{'City' | translate}} : <strong>{{row.city}}</strong></p>
              <p>{{'Sale Zone' | translate}} : <strong>{{row.sales_zone}}</strong> </p>
            </div>
            <div class="three-block">
              <p>{{'Address' | translate}} : <strong>{{row.address | titlecase}}</strong></p>
            </div>
          </div>
          <div class="top-block footer-block">
            <p>{{'Visit Remark' | translate}}: {{row.remark | titlecase}}</p>
          </div>
        </div>
        
        <div class="image-detail"  *ngIf="data.length == 0">
          <img src="assets/imgs/no_found.svg">
        </div>
      </div>
      
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData1($event)"  *ngIf="flag!=1">
        <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{'Loading more data...' | translate}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container> -->
  
  
  
</div>




</ion-content>
