
<ion-header>
  <ion-navbar>
    <ion-title>Site Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
  <div class="sticky-main">
      <div class="pd-left-right16 af_bg">
          <div class="list-box">
              <div class="upper">
                  <div class="left-date">
                      <div class="date-section">
                          <p>{{getData.date_created | date:'d MMM y'}}</p>
                          <p>Date Created</p>
                      </div>
                  </div>

              </div>
              <div class="mid">
                  <div class="content-info">
                      <div class="left-info">
                          <div class="circle" >{{getData.site_owner_name | slice:0:1}}</div>

                      </div>
                      <div class="right-info">
                          <p>Site Type: {{getData.site_type | titlecase}}</p>
                          <p> {{!getData.site_owner_name ? 'N/A' : getData.site_owner_name | titlecase}} - ( {{getData.site_owner_contact}} )</p>
                          <p *ngIf="getData.email"> {{getData.email ? getData.email : 'N/A'}}</p>
                      </div>
                  </div>
                  <div class="tag-info">
                      <a href="tel:{{getData.mobile ? getData.mobile : 'N/A'}}"><i class="material-icons">phone</i></a>
                  </div>
              </div>
              <div class="lower">
                  <p>Address</p>
                  <p>{{!getData.state ? 'N/A' : getData.state | titlecase}} {{!getData.city ? '' : ', '+getData.city | titlecase}} {{!getData.district ? '' : ', '+getData.district | titlecase}} {{getData.pincode ? ' - '+getData.pincode : ''}}</p>
              </div>
          </div>
      </div>

      <!-- <div class="csn-heading neww" *ngIf="total_checkin?.length && !search.date">
          <p>Latest Checkins</p>

          <label class="chedate">
              <input  type="date" [max]="date" name="date" [(ngModel)]="search.date" (ngModelChange)="lead_detail()" type="date" >
              <i class="material-icons">date_range</i>
          </label>

          <div class="text-line" *ngIf="search.date">
              <div class="lf-text">
                  <p>Date</p>
                  <p>{{search.date | date:'d MMM y'}}</p>
              </div>
              <div class="rf-text"  (click)="search.date=null;lead_detail()">
                  <i class="material-icons">cancel</i>
              </div>
          </div>

      </div> -->
  </div>

  <div class="pl16 pr16" >
      <div class="list-box mt16">
          <div class="upper">
              <div class="left-date">
                  <div class="date-section">
                      <p>{{getData.construction_type }}</p>
                      <p>Construction Type</p>
                  </div>
                  <div class="date-section">
                      <p>{{getData.visit_start | date:'hh:mm a'}}</p>
                      <p>Start Time</p>
                  </div>
                  <div class="date-section" *ngIf="getData.visit_end != '0000-00-00 00:00:00'">
                      <p>{{getData.visit_end | date:'hh:mm a'}}</p>
                      <p>End Time</p>
                  </div>

              </div>
          </div>

          <div class="three_boxes" *ngIf="getData.landmark">
              <div class="lower one-line">
                  <p>LandMark: <span>{{getData.landmark | titlecase}}</span></p>
              </div>
          </div>
          <div class="three_boxes" *ngIf="getData.project_size">
              <div class="lower one-line">
                  <p>Projection Size : <span>{{getData.project_size}}</span></p>
              </div>
          </div>
      </div>
      
  </div>

</ion-content>