<ion-header>
    <ion-navbar>
        <ion-title>cancelpolicy-modal</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="popup-modal">
    <div class="dflex1">
        <div class="modal-content">
            <form #f="ngForm" (ngSubmit)="f.form.valid">
                <h1>Sirca</h1>
                <p>Are you sure to redeem your {{gift_detail.coupon_points}} points?</p>
                <div class="number-content">
                    <p>Enter your 6 digit number that sent to <span class="blue-color lineh24">+91 {{karigar_detail.mobile_no}}</span></p>
                </div>
                <div class="input-section">
                    <div class="input-adjust m0">
                        <input class="pl16 radius-none" type="tel" name="otp" placeholder="Enter OTP" #otp="ngModel" [(ngModel)]="data.otp" (ngModelChange)="otpvalidation()" required>
                        <div class="otp-error" *ngIf="!otp_value && otp?.touched">
                            <p>Wrong OTP value</p>
                        </div>
                        <div class="resend flat mt10">
                            <a (click)="resendOtp()">Resend</a>
                        </div>
                        <!-- <textarea class="radius-none" placeholder="Bank Detail" #bankDetails="ngModel" [(ngModel)]="data.bankDetails" name="bankDetails" required></textarea> -->

                        <div class="main-field padding0" style="background: transparent;">
                            <div class="ragistration-fields">
                                <div class="cs-form">
                                    <ion-list>
                                        <ion-item class="cs-select">
                                            <ion-label>Select type</ion-label>
                                            <!-- <ion-select disabled placeholder="Select Type" name="type"> -->
                                            <ion-select placeholder="Select Type" name="bank_detail_type" #bankDetails="ngModel" [(ngModel)]="data.bank_detail_type" required>
                                                <ion-option value="Bank Transfer">Bank Transfer</ion-option>
                                                <ion-option value="Paytm Transfer">Paytm Transfer</ion-option>
                                            </ion-select>
                                        </ion-item>
                                    </ion-list>
                                </div>
                            </div>
                        </div>

                        <input class="pl16 radius-none mb16" name="bank_name" #bank_name="ngModel" [(ngModel)]="data.bank_name" type="text" placeholder="Bank Name" *ngIf="data.bank_detail_type=='Bank Transfer'" required>

                        <input class="pl16 radius-none mb16" name="bank_account_number" #bank_account_number="ngModel" [(ngModel)]="data.bank_account_number" placeholder="Account Number" *ngIf="data.bank_detail_type=='Bank Transfer'" required>

                        <input class="pl16 radius-none mb16" name="bank_ifsc_code" #bank_ifsc_code="ngModel" [(ngModel)]="data.bank_ifsc_code" type="text" placeholder="IFSC Code" *ngIf="data.bank_detail_type=='Bank Transfer'" minlength="11" maxlength="11" required>

                        <input class="pl16 radius-none mb16"  type="tel"  name="paytm_mobile" #paytm_mobile="ngModel" [(ngModel)]="data.paytm_mobile" placeholder="Paytm Mobile" *ngIf="data.bank_detail_type=='Paytm Transfer'" min=0 maxlength=10 minlength=10 [required]="data.bank_detail_type=='Paytm Transfer'">

                        <input class="pl16 radius-none" name="account_holder_name" #account_holder_name="ngModel" [(ngModel)]="data.account_holder_name" type="text" placeholder="Account Holder Name" required>
                    </div>
                </div>

                <div class="check-bx">
                    <ion-item>
                        <ion-checkbox color="secondary" checked="true" name="check" #check="ngModel" [(ngModel)]="data.check" required></ion-checkbox>
                    </ion-item>
                    <!-- (click)="goOnCancelationPolicy()" -->
                    <p>I have read <a>cancelation policy</a></p>
                </div>

                <div class="btn-align">
                    <button small type="button" ion-button (click)="dismiss()" outline color="pdf" >No</button>
                    <button small (click)="submit()"  ion-button color="secondary" [disabled]="!data.check ||!data.otp ||!otp_value || !data.bank_detail_type ">Yes</button>
                </div>
            </form>
        </div>
    </div>
</ion-content>