page-follow-up-list {


    .button{
        background:#c20000;
    }

    .capsule-tabs{
        ul{
            li{
                p{
                    width:100%;
                    justify-content:center;
                }
            }
        }
    }
}
