<ion-header>
  <ion-navbar>
    <ion-title>Expense Add</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group class="radio-type-group" [(ngModel)]="expense.expType">
    <ion-list-header class="ion-list-header">
      Expense Type
    </ion-list-header>
    <div class="dflex">
      <ion-item>
        <ion-label>Local Conveyance</ion-label>
        <ion-radio value="Local Conveyance" (click)="expand_local = true"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Outstation Travel</ion-label>
        <ion-radio value="Outstation Travel" (click)="expand_local = false"></ion-radio>
      </ion-item>
    </div>
  </ion-list>
  <div class="cs-accordion">
    
    <!-- Outstation Travel accordion start-->
    <div class="accordion" *ngIf="expense.expType == 'Outstation Travel'" [ngClass]="{'expand':expand_travel == true}" >
      <div class="accordion-head" (click)="expand_travel = !expand_travel; expand_food = false ;expand_hotel = false ;expand_local = false ;expand_misc = false;" >TRAVEL ENTITLEMENT </div>
      <div class="accordion-body">
        <div class="edit m0">
          <ion-list>
            <form name="travelform" #travelform="ngForm" (ngSubmit)="travel_expense_data.ticket && travel_expense_data.ticket!='' ? travel_expense_data.ticket_amount && travel_expense_data.ticket_amount!='' ? travelform.valid && add_expense('travel') : presentAlert('amount') : presentAlert('ticket')"> 
              
              <div>

                <ion-item class="cs-normal-select mb0 " [ngClass]="{'cs-error':travelform.submitted && modeOfTravel?.invalid}">
                  <ion-label>Mode Of Travel</ion-label>
                  <ion-select name="modeOfTravel" [(ngModel)]="travel_expense_data.modeOfTravel" required #modeOfTravel="ngModel">
                    <ion-option value="Public Vehicle">Public Vehicle</ion-option>
                    <ion-option *ngIf="(allowanceData.car != '0' || allowanceData.bike != '0') && expense.expType " value="Self Vehicle">Self Vehicle</ion-option>
                    <ion-option  disabled *ngIf="allowanceData.car == '0' && allowanceData.bike == '0' && allowanceData.busAC == '0'  && allowanceData.busNonAC == '0' && allowanceData.auto == '0' && allowanceData.taxi == '0'">No data found</ion-option>
                  </ion-select>
                </ion-item>
                
                <ion-item class="cs-normal-select mt16 mb0" [ngClass]="{'cs-error':travelform.submitted && travelClass?.invalid}">
                  <ion-label>Travel Type</ion-label>
                  <ion-select name="travelClass" [(ngModel)]="travel_expense_data.travelMode" required #travelClass="ngModel">
                    <ion-option *ngIf="travel_expense_data.modeOfTravel == 'Public Vehicle' && (allowanceData.busAC == '1' || allowanceData.busNonAC == '1') " value="Bus">Bus</ion-option>
                    <!-- <ion-option *ngIf="travel_expense_data.modeOfTravel == 'Public Vehicle'" value="Non AC Bus">Non AC Bus</ion-option> -->
                    <ion-option *ngIf="travel_expense_data.modeOfTravel == 'Public Vehicle' && allowanceData.taxi == '1'" value="Taxi">Taxi</ion-option>
                    <ion-option *ngIf="travel_expense_data.modeOfTravel == 'Public Vehicle'  && allowanceData.auto == '1'" value="Auto">Auto</ion-option>
                    <ion-option *ngIf="travel_expense_data.modeOfTravel == 'Public Vehicle'" value="Train">Train</ion-option>
                    <ion-option *ngIf="travel_expense_data.modeOfTravel == 'Public Vehicle' " value="Flight">Flight</ion-option>
                    <ion-option *ngIf="travel_expense_data.modeOfTravel == 'Self Vehicle' " value="Car">Car</ion-option>
                    <ion-option *ngIf="travel_expense_data.modeOfTravel == 'Self Vehicle'" value="Bike">Bike</ion-option>


                    <!-- <ion-option *ngIf="allowanceData.car != '' && localConvForm.modeOfTravel == 'Self Vehicle' && expense.expType" value="Car">Car</ion-option>
                    <ion-option *ngIf="allowanceData.bike != '' && localConvForm.modeOfTravel == 'Self Vehicle' && expense.expType" value="Bike">Bike</ion-option> -->
                  </ion-select>
                </ion-item>

                <!-- <ion-item class="cs-normal-select mt16 mb0 " [ngClass]="{'cs-error':travelform.submitted && travelMode?.invalid}">
                  <ion-label>Mode Of Travel </ion-label>
                  <ion-select name="travelMode" [(ngModel)]="travel_expense_data.travelMode" required #travelMode="ngModel">
                    <ion-option value="Flight" *ngIf="allowanceData.flight == '1'">Flight</ion-option>
                    <ion-option value="Train" *ngIf="allowanceData.trainSC == '1' || allowanceData.train2Tier == '1' || allowanceData.train3Tier == '1'">Train</ion-option>
                  </ion-select>
                </ion-item> -->
                
                 <ion-item class="cs-normal-select mt16 mb0" [ngClass]="{'cs-error':travelform.submitted && travelClass?.invalid}" *ngIf="travel_expense_data.travelMode == 'Train'||travel_expense_data.travelMode == 'Flight'||travel_expense_data.travelMode == 'Bus'">
                  <ion-label>Class</ion-label>
                  <ion-select name="travelClass" [(ngModel)]="travel_expense_data.travelClass" #travelClass="ngModel" required>
                    <ion-option value="Economy Class" *ngIf="travel_expense_data.travelMode == 'Flight' && allowanceData.flight == '1'">Economy Class</ion-option>
                    <ion-option value="Train (Executive Chair Car, Sleeper)" *ngIf="travel_expense_data.travelMode == 'Train' && allowanceData.trainSC == '1'">Train (Executive Chair Car, Sleeper)</ion-option>
                    <ion-option value="Train (III Tier)" *ngIf="travel_expense_data.travelMode == 'Train' && allowanceData.train3Tier == '1'">Train (III Tier)</ion-option>
                    <ion-option value="Train (II Tier)" *ngIf="travel_expense_data.travelMode == 'Train' && allowanceData.train2Tier == '1'">Train (II Tier)</ion-option>
                    <ion-option value="AC Bus" *ngIf="travel_expense_data.travelMode == 'Bus' && allowanceData.busAC == '1'">AC Bus</ion-option>
                    <ion-option value="Non AC Bus" *ngIf="travel_expense_data.travelMode == 'Bus' && allowanceData.busNonAC == '1'">Non AC Bus</ion-option>

                  </ion-select>
                </ion-item>
                <!-- <ion-item [ngClass]="{'cs-error':travelform.submitted && distance?.invalid}" *ngIf="travel_expense_data.modeOfTravel == 'Self Vehicle'||travel_expense_data.travelMode == 'Taxi'||travel_expense_data.travelMode == 'Auto'">
                  <ion-label floating><span>Distance (KM)</span></ion-label>
                  <ion-input type="number" name="distance" [(ngModel)]="travel_expense_data.distance" #distance="ngModel"  (input)="calculate_travel_amount()"></ion-input>
                </ion-item>
                <ion-item [ngClass]="{'cs-error':travelform.submitted && amount?.invalid}" *ngIf="travel_expense_data.modeOfTravel == 'Self Vehicle'||travel_expense_data.travelMode == 'Taxi'||travel_expense_data.travelMode == 'Auto'">
                  <ion-label floating><span>Amount</span></ion-label>
                  <ion-input type="number" name="amount" [(ngModel)]="travel_expense_data.amount" required #amount="ngModel"></ion-input>
                  
                </ion-item>  -->

              
                

               
                
          
                  <div class="head">DEPATURE</div>
                
                  <ion-item  [ngClass]="{'cs-error':travelform.submitted && depatureDate?.invalid}">
                    <ion-label floating><span>Date</span></ion-label>
                    <ion-datetime display-format="MMM DD, YYYY" placeholder="Select Date" max={{today_date}} type="text" name="depatureDate" #depatureDate="ngModel" [(ngModel)]="travel_expense_data.depatureDate" class="calander" required ></ion-datetime>
                  </ion-item>
                  
                  <ion-item [ngClass]="{'cs-error':travelform.submitted && depatureStation?.invalid}">
                    <ion-label floating><span>Station</span></ion-label>
                    <ion-input type="text" name="depatureStation" [(ngModel)]="travel_expense_data.depatureStation" required #depatureStation="ngModel"></ion-input>
                  </ion-item>
                  
                  <ion-item  [ngClass]="{'cs-error':travelform.submitted && depatureTime?.invalid}">
                    <ion-label floating><span>Time</span></ion-label>
                    <ion-datetime display-format="h:mm A" pickerFormat="h:mm A" name="depatureTime" [(ngModel)]="travel_expense_data.depatureTime" required #depatureTime="ngModel"></ion-datetime>
                  </ion-item>
                 

              
               
                
                  <div class="head">ARRIVAL</div>
                
                  <ion-item [ngClass]="{'cs-error':travelform.submitted && arrivalDate?.invalid}">
                    <ion-label floating><span>Date</span></ion-label>
                    <ion-datetime display-format="MMM DD, YYYY" display-format="MMM DD, YYYY" max={{today_date}} placeholder="Select Date" type="text" name="arrivalDate" #arrivalDate="ngModel" [(ngModel)]="travel_expense_data.arrivalDate" class="calander" required></ion-datetime>
                  </ion-item>
                  
                  <ion-item [ngClass]="{'cs-error':travelform.submitted && arrivalStation?.invalid}">
                    <ion-label floating><span>Station</span></ion-label>
                    <ion-input type="text" name="arrivalStation" [(ngModel)]="travel_expense_data.arrivalStation" required #arrivalStation="ngModel"></ion-input>
                  </ion-item>
                  
                  <ion-item [ngClass]="{'cs-error':travelform.submitted && arrivalTime?.invalid}">
                    <ion-label floating><span>Time</span></ion-label>
                    <ion-datetime display-format="h:mm A" pickerFormat="h:mm A" name="arrivalTime" [(ngModel)]="travel_expense_data.arrivalTime" required #arrivalTime="ngModel"></ion-datetime>
                  </ion-item>
                  
                  
                  <div class="two-col" [ngClass]="{'cs-error':travelform.submitted && ticket?.invalid}">
                    <ion-item *ngIf="travel_expense_data.travelMode == 'Train' ||travel_expense_data.travelMode == 'Flight'||travel_expense_data.travelMode == 'Bus'">
                      <ion-label floating><span>Ticket No</span></ion-label>
                      <ion-input type="text" name="ticket" [(ngModel)]="travel_expense_data.ticket" required #ticket="ngModel"></ion-input>
                      
                    </ion-item>
                    
                    <ion-item [ngClass]="{'cs-error':travelform.submitted && ticket_amount?.invalid}">
                      <ion-label floating><span>Amount</span></ion-label>
                      <ion-input type="number" name="ticket_amount" [(ngModel)]="travel_expense_data.ticket_amount" required #ticket_amount="ngModel"></ion-input>
                      
                    </ion-item>
                  </div>
                  
                  <div class="two-col">
                    <ion-item [ngClass]="{'cs-error':travelform.submitted && distance?.invalid}">
                      <ion-label floating><span>Travel Distance</span></ion-label>
                      <ion-input type="number" name="distance" [(ngModel)]="travel_expense_data.distance" #distance="ngModel"></ion-input>
                    </ion-item>
                  </div>
                
               
                <div class="text-right" *ngIf="travel_expense_data.travelMode != 'Train' &&travel_expense_data.travelMode != 'Flight'&&travel_expense_data.travelMode != 'Bus'">
                  <button ion-button  class="h35 green-color mt16 mb16" type="submit" (click)="add_expensetravel('travel')">Add To List</button>
                </div>


                <div class="text-right" *ngIf="travel_expense_data.travelMode == 'Train' ||travel_expense_data.travelMode == 'Flight'||travel_expense_data.travelMode == 'Bus'">
                  <button ion-button  class="h35 green-color mt16 mb16" type="submit">Add To List</button>
                </div>
              </div>
            </form>
          </ion-list>
          
          
          <!-- list loop start -->
          <div class="cs-list-item" *ngFor="let travel_data of travel_expense_data_list">
            <div class="cs-top">
              <div class="list-content">
                <p>{{travel_data.depatureDate | date:'d MMM y'}} & {{travel_data.depatureTime}}</p>
                <span>Date & Time</span>
              </div>
              <div class="list-content af-none">
                <p>{{travel_data.depatureStation}}</p>
                <span>Station</span>
              </div>
              
              <div class="left-auto">
                <div class="type-bg">Depature</div>
              </div>
            </div>
            <div class="cs-top pt10">
              <div class="list-content">
                <p>{{travel_data.arrivalDate | date:'d MMM y'}} & {{travel_data.arrivalTime}}</p>
                <span>Date & Time</span>
              </div>
              <div class="list-content af-none">
                <p>{{travel_data.arrivalStation}}</p>
                <span>Station</span>
              </div>
              
              <div class="left-auto">
                <div class="type-bg">Arrival</div>
              </div>
            </div>
            <div class="middle-content one-column">
              <div class="col-box">
                <p>Class & Mode Of Travel </p>
                <span>{{travel_data.travelMode}}/{{travel_data.travelClass}}</span>
              </div>
            </div>
          
            
            <div class="box-column">
              <!-- <h2>Arrival </h2> -->
              <div class="middle-content">
                <div class="col-box" *ngIf="travel_data.travelMode == 'Train' ||travel_data.travelMode == 'Flight'||travel_data.travelMode == 'Bus'">
                  <p>Ticket No</p>
                  <span>{{travel_data.ticket}}</span>
                </div>
                <div class="col-box">
                  <p>Amount</p>
                  <span>&#8377; {{travel_data.ticket_amount}}</span>
                </div>
                <div class="col-box">
                  <p>Distance</p>
                  <span>{{travel_data.distance}} Km</span>
                </div>
              </div>
            </div>
          </div>
          <!-- list loop end -->
          
          
          <div class="summary-table">
            <table>
              <tr>
                <td class="text-right" >Total</td>
                <td class="text-right w120" >&#8377; {{expense.travelEntitlementAmt}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="accordion" *ngIf="expense.expType" [ngClass]="{'expand':expand_local == true}" >
      <div class="accordion-head" (click)="expand_local = !expand_local ; expand_food = false ;expand_hotel = false ;expand_misc = false ;expand_travel = false;" >LOCAL CONVEYANCE</div>
      <div class="accordion-body">
        <div class="edit m0">
          <ion-list>
            <form name="local_expense" #local_expense="ngForm" (ngSubmit)="localConvForm.amount  && localConvForm.amount!='' ? local_expense.valid && add_expense('local') : presentAlert('amount')">
              <div>
                <ion-item class="cs-normal-select mb0 " [ngClass]="{'cs-error':local_expense.submitted && modeOfTravel?.invalid}">
                  <ion-label>Mode Of Travel</ion-label>
                  <ion-select name="modeOfTravel" [(ngModel)]="localConvForm.modeOfTravel" required #modeOfTravel="ngModel">
                    <ion-option *ngIf="allowanceData.busAC == '1' || allowanceData.busNonAC == '1'|| allowanceData.auto == '1'|| allowanceData.taxi == '1'" value="Public Vehicle">Public Vehicle</ion-option>
                    <ion-option *ngIf="(allowanceData.car != '0' || allowanceData.bike != '0') && expense.expType " value="Self Vehicle">Self Vehicle</ion-option>
                    <ion-option  disabled *ngIf="allowanceData.car == '0' && allowanceData.bike == '0' && allowanceData.busAC == '0'  && allowanceData.busNonAC == '0' && allowanceData.auto == '0' && allowanceData.taxi == '0'">No data found</ion-option>
                  </ion-select>
                </ion-item>
                
                <ion-item class="cs-normal-select mt16 mb0" [ngClass]="{'cs-error':local_expense.submitted && travelClass?.invalid}">
                  <ion-label>Class</ion-label>
                  <ion-select name="travelClass" [(ngModel)]="localConvForm.travelClass" required #travelClass="ngModel">
                    <ion-option *ngIf="allowanceData.busAC == '1' && localConvForm.modeOfTravel == 'Public Vehicle' " value="AC Bus">AC Bus</ion-option>
                    <ion-option *ngIf="allowanceData.busNonAC == '1' && localConvForm.modeOfTravel == 'Public Vehicle'" value="Non AC Bus">Non AC Bus</ion-option>
                    <ion-option *ngIf="allowanceData.taxi == '1' && localConvForm.modeOfTravel == 'Public Vehicle'" value="Taxi">Taxi</ion-option>
                    <ion-option *ngIf="allowanceData.auto == '1' && localConvForm.modeOfTravel == 'Public Vehicle'" value="Auto">Auto</ion-option>
                    <ion-option *ngIf="allowanceData.car != '' && localConvForm.modeOfTravel == 'Self Vehicle' && expense.expType" value="Car">Car</ion-option>
                    <ion-option *ngIf="allowanceData.bike != '' && localConvForm.modeOfTravel == 'Self Vehicle' && expense.expType" value="Bike">Bike</ion-option>
                  </ion-select>
                </ion-item>
                
                <ion-item [ngClass]="{'cs-error':local_expense.submitted && date?.invalid}">
                  <ion-label floating><span>Date</span></ion-label>
                  <ion-datetime display-format="MMM DD, YYYY" max={{today_date}} type="text" name="date" #date="ngModel" [(ngModel)]="localConvForm.date" (ngModelChange)="convert_date('local_expense')" class="calander" required ></ion-datetime>
                </ion-item>
                
                <ion-item [ngClass]="{'cs-error':local_expense.submitted && distance?.invalid}">
                  <ion-label floating><span>Distance (KM)</span></ion-label>
                  <ion-input type="number" name="distance" [(ngModel)]="localConvForm.distance" #distance="ngModel"  (input)=" localConvForm.travelClass == 'Car' || localConvForm.travelClass == 'Bike' ? calculate_travel_amount() : ''"></ion-input>
                </ion-item>

                
                <ion-item [ngClass]="{'cs-error':local_expense.submitted && amount?.invalid}">
                  <ion-label floating><span>Amount</span></ion-label>
                  <ion-input type="number" name="amount" [(ngModel)]="localConvForm.amount" required #amount="ngModel"></ion-input>
                  
                </ion-item>
                <ion-item *ngIf="localConvForm.distance >= 150 && expense.expType!='Outstation Travel'" [ngClass]="{'cs-error':local_expense.submitted && food_amount?.invalid}">
                  <ion-label floating><span>Food Amount</span></ion-label>
                  <!-- <ion-input type="number" name="food_amount" [(ngModel)]="localConvForm.food_amount" #food_amount="ngModel"  (input)="calculate_travel_amount()"></ion-input> -->
                  <ion-input type="number" name="food_amount" [(ngModel)]="localConvForm.food_amount" #food_amount="ngModel"></ion-input>
                </ion-item>
                <ion-item class="cs-textarea1">
                  <ion-label floating><span>Description</span></ion-label>
                  <ion-textarea name="remark" [(ngModel)]="localConvForm.remark" ></ion-textarea>
                </ion-item>
                
                <div class="text-right">
                  <button ion-button  class="h35 green-color mt16 mb16" type="submit">Add To List</button>
                </div>
              </div>
            </form>
          </ion-list>
          
          
          <!-- list loop start -->
          <div class="cs-list-item" *ngFor="let data of local_conveyance_expense_data;let i = index">
            <div class="cs-top">
              <div class="list-content">
                <p>{{data.modeOfTravel}}</p>
                <span>Mode Of Travel</span>
              </div>
              <div class="list-content">
                <p>{{data.travelClass}}</p>
                <span>Class</span>
              </div>
              <div class="list-content af-none">
                <p>{{data.date | date:'d MMM y'}}</p>
                <span>Date</span>
              </div>
              <div class="left-auto">
                <button ion-button class="circle-btn list_delete_button" (click)="delete_expense_from_list('local',data.amount,data.food_amount,i)"><i class="material-icons">delete_sweep</i></button>
              </div>
            </div>
            
            
            <div class="middle-content">
              <div class="col-box">
                <p>Distance (KM)</p>
                <span>{{data.distance}}</span>
              </div>
              <div class="col-box" *ngIf="data.food_amount">
                <p>Food Amount</p>
                <span>&#8377; {{data.food_amount}} /-</span>
              </div>
              <div class="col-box">
                <p>Amount</p>
                <span>&#8377; {{data.amount}} /-</span>
              </div>
              <!-- <div class="col-box">
                <p>Tax</p>
                <span>&#8377; 25</span>
              </div> -->
            </div>
            
            <div class="middle-content one-column">
              <div class="col-box">
                <span class="remark"><strong>Remark: </strong>{{data.remark && data.remark!=''?data.remark:'--'}}</span>
              </div>
            </div>
          </div>
          <!-- list loop end -->
          <div class="summary-table">
            <table>
              <tr>
                <td class="text-right" >Total</td>
                <td class="text-right w120" >&#8377; {{expense.local_conveyance_expense_total_amount}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="accordion" *ngIf="expense.expType == 'Outstation Travel'" [ngClass]="{'expand':expand_hotel == true}">
      <div class="accordion-head" (click)="expand_hotel = !expand_hotel ; expand_food = false ;expand_misc = false ;expand_local = false ;expand_travel = false;">HOTEL</div>
      <div class="accordion-body">
        <div class="edit m0">
          <ion-list>
            <form name="hotel_form" #hotel_form="ngForm" (ngSubmit)=" hotel_expense_data.amount && hotel_expense_data.amount!='' ?  hotel_form.valid && add_expense('hotel') : presentAlert('amount')">
              
              
              <div>
                <ion-item [ngClass]="{'cs-error':hotel_form.submitted && city?.invalid}">
                  <ion-label floating><span>City</span></ion-label>
                  <ion-input type="text" name="city" [(ngModel)]="hotel_expense_data.city" required #city="ngModel" ></ion-input>
                </ion-item>
                
                <ion-item [ngClass]="{'cs-error':hotel_form.submitted && checkInDate?.invalid}">
                  <ion-label floating><span>Check In Date</span></ion-label>
                  <ion-datetime display-format="MMM DD, YYYY" type="text" name="checkInDate" #checkInDate="ngModel" [(ngModel)]="hotel_expense_data.checkInDate" class="calander" max={{today_date}} required  ></ion-datetime>
                </ion-item>
                
                
                <ion-item [ngClass]="{'cs-error':hotel_form.submitted && checkOutDate?.invalid}">
                  <ion-label floating><span>Check Out Date</span></ion-label>
                  <ion-datetime display-format="MMM DD, YYYY" type="text" name="checkOutDate" #checkOutDate="ngModel" [(ngModel)]="hotel_expense_data.checkOutDate" class="calander" max={{today_date}} required  ></ion-datetime>
                </ion-item>
                
                <ion-item [ngClass]="{'cs-error':hotel_form.submitted && hotelName?.invalid}">
                  <ion-label floating><span>Hotel Name</span></ion-label>
                  <ion-input type="text" name="hotelName" [(ngModel)]="hotel_expense_data.hotelName" required #hotelName="ngModel"></ion-input>
                </ion-item>
                
                <ion-item [ngClass]="{'cs-error':hotel_form.submitted && amount?.invalid}">
                  <ion-label floating><span>Amount</span></ion-label>
                  <ion-input type="number" name="amount" [(ngModel)]="hotel_expense_data.amount" required #amount="ngModel"></ion-input>
                </ion-item>
                
                <ion-item class="cs-textarea1 ">
                  <ion-label floating><span>Description</span></ion-label>
                  <ion-textarea type="text" name="remark" #remark="ngModel" [(ngModel)]="hotel_expense_data.remark" ></ion-textarea>
                </ion-item>
                
                <div class="text-right">
                  <button ion-button  class="h35 green-color mt16 mb16" type="submit">Add To List</button>
                </div>
              </div>
              
              
            </form>
          </ion-list>
          
          
          <!-- list loop start -->
          <div class="cs-list-item" *ngFor="let hotel_data of hotel_expense_data_list ; let i = index;">
            <div class="cs-top">
              <div class="list-content">
                <p>{{hotel_data.checkOutDate | date:'d MMM y'}}</p>
                <span>Check Out Date</span>
              </div>
              <div class="list-content af-none">
                <p>{{hotel_data.checkInDate | date:'d MMM y'}}</p>
                <span>Check In Date</span>
              </div>
              
              <div class="left-auto">
                <button ion-button class="circle-btn list_delete_button" (click)="delete_expense_from_list('hotel',hotel_data.amount,i)" ><i class="material-icons">delete_sweep</i></button>
              </div>
            </div>
            
            <div class="middle-content one-column">
              <div class="col-box">
                <p>Remark</p>
                <span>{{hotel_data.remark}}</span>
              </div>
            </div>
            <div class="middle-content">
              <div class="col-box">
                <p>City</p>
                <span>{{hotel_data.city}}</span>
              </div>
              <div class="col-box">
                <p>Hotel</p>
                <span>{{hotel_data.hotelName}}</span>
              </div>
              <div class="col-box">
                <p>Amount</p>
                <span>&#8377; {{hotel_data.amount}}</span>
              </div>
            </div>
          </div>
          <!-- list loop end -->
          
          
          <div class="summary-table">
            <table>
              <tr>
                <td class="text-right" >Total</td>
                <td class="text-right w120" >&#8377;{{expense.hotel_expense_total_amount}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="accordion" *ngIf="expense.expType == 'Outstation Travel'" [ngClass]="{'expand':expand_food == true}">
      <div class="accordion-head" (click)="expand_food = !expand_food ;expand_misc = false ;expand_hotel = false ;expand_local = false ;expand_travel = false;">FOOD</div>
      <div class="accordion-body">
        <div class="edit m0">
          <ion-list>
            <form name="food_form" #food_form="ngForm" (ngSubmit)="food_expense_data.amount && food_expense_data.amount!='' ? food_form.valid && add_expense('food') : presentAlert('amount')">
              
              
              <div>
                
                <div class="two-col">
                  <ion-item [ngClass]="{'cs-error':food_form.submitted && city?.invalid}">
                    <ion-label floating><span>City</span></ion-label>
                    <ion-input type="text" type="text" name="city" [(ngModel)]="food_expense_data.city" required #city="ngModel" ></ion-input>
                  </ion-item>
                  
                  <ion-item [ngClass]="{'cs-error':food_form.submitted && date?.invalid}">
                    <ion-label floating><span>Date</span></ion-label>
                    <ion-datetime display-format="MMM DD, YYYY" type="text" name="date" #date="ngModel" [(ngModel)]="food_expense_data.date" class="calander" max={{today_date}} required ></ion-datetime>
                  </ion-item>
                </div>
                
                <div class="two-col">
                  <ion-item [ngClass]="{'cs-error':food_form.submitted && amount?.invalid}">
                    <ion-label floating><span>Amount</span></ion-label>
                    <ion-input type="number" name="amount" [(ngModel)]="food_expense_data.amount" required #amount="ngModel"></ion-input>
                  </ion-item>
                </div>
                <ion-item class="cs-textarea1 ">
                  <ion-label floating><span>Description</span></ion-label>
                  <ion-textarea type="text" name="remark" [(ngModel)]="food_expense_data.remark" #remark="ngModel"></ion-textarea>
                </ion-item>
                <div class="text-right">
                  <button ion-button  class="h35 green-color mt16 mb16" type="submit">Add To List</button>
                </div>
                
              </div>
              
              
            </form>
          </ion-list>
          
          
          <!-- list loop start -->
          <div class="cs-list-item" *ngFor="let food_data of food_expense_data_list;let i = index;">
            <div class="cs-top">
              <div class="list-content">
                <p>{{food_data.date | date:'d MMM y'}}</p>
                <span>Date</span>
              </div>
              <div class="list-content af-none">
                <p>{{food_data.city}}</p>
                <span>City</span>
              </div>
              
              <div class="left-auto">
                <button ion-button class="circle-btn list_delete_button"  (click)="delete_expense_from_list('food',food_data.amount,i)"><i class="material-icons">delete_sweep</i></button>
              </div>
            </div>
            <div class="middle-content two-column">
              <div class="col-box">
                <p>Amount</p>
                <span>&#8377; {{food_data.amount}}</span>
              </div>
            </div>
            <div class="middle-content one-column">
              <div class="col-box">
                <span class="remark"><strong>Remark: </strong>{{food_data.remark}}</span>
              </div>
            </div>
          </div>
          <!-- list loop end -->
          
          
          <div class="summary-table">
            <table>
              <tr>
                <td class="text-right" >Total</td>
                <td class="text-right w120" >&#8377;{{expense.food_expense_total_amount}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="accordion" *ngIf="expense.expType == 'Outstation Travel'" [ngClass]="{'expand':expand_misc == true}">
      <div class="accordion-head" (click)="expand_misc = !expand_misc ;expand_food = false ;expand_hotel = false ;expand_local = false ;expand_travel = false;" >MISC EXPENSE INFORMATION</div>
      <div class="accordion-body">
        <div class="edit m0">
          <ion-list>
            <form name="misc_form" #misc_form="ngForm" (ngSubmit)="misc_expense_data.amount && misc_expense_data.amount!='' ? misc_form.valid && add_expense('misc') : presentAlert('amount')">
              
              
              <div>
                
                <div class="two-col">
                  <ion-item [ngClass]="{'cs-error':misc_form.submitted && expName?.invalid}">
                    <ion-label floating><span>Nature Of Expense</span></ion-label>
                    <ion-input type="text" type="text" name="expName" #expName="ngModel" [(ngModel)]="misc_expense_data.expName" required></ion-input>
                  </ion-item>
                  <ion-item [ngClass]="{'cs-error':misc_form.submitted && date?.invalid}">
                    <ion-label floating><span>Date</span></ion-label>
                    <ion-datetime display-format="MMM DD, YYYY" type="text" name="date" max={{today_date}} #date="ngModel" [(ngModel)]="misc_expense_data.date" required ></ion-datetime>
                  </ion-item>
                </div>
                
                <div class="two-col">
                  <ion-item [ngClass]="{'cs-error':misc_form.submitted && expPlace?.invalid}">
                    <ion-label floating><span>Place Of Expense</span></ion-label>
                    <ion-input type="text" name="expPlace" #expPlace="ngModel" [(ngModel)]="misc_expense_data.expPlace" required></ion-input>
                  </ion-item>
                  <ion-item [ngClass]="{'cs-error':misc_form.submitted && amount?.invalid}">
                    <ion-label floating><span>Amount</span></ion-label>
                    <ion-input type="number" name="amount" #amount="ngModel" [(ngModel)]="misc_expense_data.amount" required></ion-input>
                  </ion-item>
                </div>
                
                <ion-item class="cs-textarea1 ">
                  <ion-label floating><span>Description</span></ion-label>
                  <ion-textarea type="text" name="remark" #remark="ngModel" [(ngModel)]="misc_expense_data.remark" ></ion-textarea>
                </ion-item>
                
                <div class="text-right">
                  <button ion-button  class="h35 green-color mt16 mb16" type="submit">Add To List</button>
                </div>
                
              </div>
              
            </form>
          </ion-list>
          
          
          <!-- list loop start -->
          <div class="cs-list-item" *ngFor="let misc_data of misc_expense_data_list;let i = index;">

            <div class="cs-top">
              <div class="list-content">
                <p>{{misc_data.date | date:'d MMM y'}}</p>
                <span>Date</span>
              </div>
              <div class="list-content af-none">
                <p>{{misc_data.expName}}</p>
                <span>Nature Of Expense</span>
              </div>
              <div class="left-auto">
                <button ion-button class="circle-btn list_delete_button" (click)="delete_expense_from_list('misc',misc_data.amount,i)"><i class="material-icons">delete_sweep</i></button>
              </div>
            </div>

            <div class="middle-content">
              <div class="col-box">
                <p>Place of Expense</p>
                <span>{{misc_data.expPlace}}</span>
              </div>
              <div class="col-box">
                <p>Amount</p>
                <span>&#8377; {{misc_data.amount}}</span>
              </div>
            </div>

            <div class="middle-content one-column">
              <div class="col-box">
                <span class="remark"><strong>Remark: </strong>{{misc_data.remark}}</span>
              </div>
            </div>

          </div>
          <!-- list loop end -->
          
          
          <div class="summary-table">
            <table>
              <tr>
                <td class="text-right" >Total</td>
                <td class="text-right w120" >&#8377; {{expense.misc_expense_total_amount}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Outstation Travel accordion end-->
  </div>
  
  
  <div *ngIf=" (expand_local == true && local_conveyance_expense_data.length) || (expand_local == false && (local_conveyance_expense_data.length) || (travel_expense_data_list.length) || (hotel_expense_data_list.length) || (food_expense_data_list.length) || (misc_expense_data_list.length))">
    
    <div class="upload-doc">
      <p class="">Upload Bill</p>
      <ul class="no-padding">
        
        <li class="image-upload" *ngFor="let pic of image_data;let i = index;">
          <img src="{{pic}}">
          <button class="del"><i class="material-icons" (click)="remove_image(i)" >delete_sweep</i></button>
        </li>
        
        <li class="add-image" (click)="captureMedia()">
          <i class="material-icons">add</i>
        </li>
      </ul>
    </div>
    
    <div class="summary-table">
      <table>
        <tr>
          <td class="text-right" >Total</td>
          <td class="text-right w120" >&#8377; {{expense.local_conveyance_expense_total_amount + expense.travelEntitlementAmt + expense.hotel_expense_total_amount + expense.food_expense_total_amount + expense.misc_expense_total_amount}}</td>
        </tr>
      </table>
    </div>
    
    
    <div class="text-right" *ngIf="(expense.expType == 'Outstation Travel') || (expense.expType == 'Local Conveyance')">
      <button ion-button  class="h35 green-color mt16 mb16" (click)="save_expense(expense.expType)">Save</button>
    </div>
  </div>
</ion-content>