page-scanned-master-qr-code-detail {
    
    
    .btn-group{
        padding: 0px 16px 16px;
        
        button{
            width: 100%;
            margin-bottom: 0px !important;
            
            
            &:last-child{
                margin-bottom: 0px !important;
            }
        }
    }

    .bg_green{
        background: #9b2450 !important;
        border: 2px solid #9b2450 !important;
    }
    
    
    
    
}


